<launch>
<!--

  <include file="$(find simple_navigation_goals)/launch/turtlebot3_world_multi.launch"/>


  <include file="$(find simple_navigation_goals)/launch/turtlebot3_navigation_multi.launch"/>
-->

  <include file="$(find multi_robot_nav)/launch/localization_files/turtlebot3_navigation_multi.launch"/>
  <include file="$(find multi_robot_nav)/launch/localization_files/turtlebot3_world_multi.launch"/>

</launch>
